<!DOCTYPE HTMl>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'images/css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div class="container-fluid responsive-gradient">
<body>

    <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active white-override" onclick="goToHomepage()" style="cursor:pointer;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-override" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-override" onclick="goToSignIn()" style="cursor:pointer;">Sign In</a>
            </li>
        </ul>

    <div class="container-fluid">
        <h1 class="text-center white-override"> Your new image: </h1>
        <img class="final-img" src ="{% static 'images/temp/' %}{{ image }}.png">
    </div>

    <div class="container-fluid download-btn">
        <a href="{% static 'images/temp/' %}{{ image }}.png" download>
            <button class="btn btn-primary" style="margin-bottom: 40px;">Download</button>
        </a>
    </div>

<style>

.final-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    max-width: 30%;
    max-height: 25%;
}

.download-btn {
    padding-top: 20px;
    text-align: center !important;
}
</style>

<script>
function goToHomepage() {
    window.location = '/images/';
}

function goToSignIn() {
    window.location = '/images/sign_in/'
}
</script>



</body>
</div>

</html>