<!doctype html>

{% load static %}

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'images/css/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

<div class="container-fluid responsive-gradient">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active white-override" onclick="goToHomepage()" style="cursor:pointer;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-override" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-override" onclick="goToSignIn()" style="cursor:pointer;">Sign In</a>
        </li>
    </ul>

<body>


<div class="form-wrapper2">

    <div class="form-image">
        <img class="form-image" src="http://www.energyrating.gov.au/sites/new.energyrating/files/imce/E3-Energy-Rating-Label-Dishwasher-super-efficient.png">
    </div>


    <div class="form2">
        <form method="post" class="form white-override" style="display: grid;">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary form-btn">Generate Image -></button>
        </form>
    </div>

        
    </form>
</div>


<script>
    // Redirects the URL to the Hompepage.
    // This is hard coded, and will need to be adjusted if the URL changes.
    function goToHomepage() {
        window.location = '/images/';
    }

    // Redirects the URL to the Sign In Page.
    // This is hard coded, and will need to be adjusted if the URL changes.
    function goToSignIn() {
        window.location = '/images/sign_in/'
    }
</script>

<style>
.form-wrapper2 {
    display: grid;
    grid-template-columns: 55% 45%; 
}

.form-btn {
    margin-top: 40px;
}


.form2 {
    float: left;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 30px;
}

label {
    margin-top: 30px;
}
</style>


</body>

</div>

</html>