<!doctype HTML>

{% load static %}

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'images/css/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

<body class="signup-background">

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active white-override" onclick="returnToHomepage()" style="cursor:pointer;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-override" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-override" href="">Sign Up</a>
            </li>
        </ul>

    <div class="container-fluid signup-wrapper">
        <div class="signup-blank"></div>

        <div class="center-div">   
            <h1 class="signup-text">Sign Up</h1>

            
            <form class="form-centered" method="POST">
                {% csrf_token %}
                
                {{ form }}
                <!-- {{ form.email.label }}
                {{ form.email }}  THIS WORKS !!!!!!!!!!!!!!!!!!!!!! -->
            
                <!--
            <div class="form-group col-12">
                {{ form.email.label }}
                {{ form.email }}
            </div>

            <div class="form-group col-12">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <!--
            <div class="form-group col-12">
                <label>Confirm Password</label>
                <input type="password" class="form-control" id="id_confirm_password">
            </div>
        -->
            

            <div class="container-fluid">
                <p id="message" class="password-message"></p>
            </div>

                <div class="container-fluid center-div">
                    <button type="submit" id="signup-button" class="signup-btn btn btn-danger form-field">Sign Up</button>
                </div>  
            
            </form>


        </div>

        <div class="signup-blank"></div>

    </div>
</body>


<script>
// Returns to hompage, called in the navbar.
function returnToHomepage() {
    var url = '/images/';
    window.location = url;
};


// Checks to see if the password and confirm password are the same, displays an error if not.
// function submitUser() {
//      var password1 = document.getElementById("id_password").value;
//      var password2 = document.getElementById("id_confirm_password").value;

//     if ((password1 == '') || (password2 == '')) {
//         document.getElementById("message").innerHTML = 'Please fill out both password fields.';
//     }
//     else if (password1 == password2) {
//         document.getElementById("message").innerHTML = '';
//         console.log('Our passwords match!');
//         document.getElementById("signup-button").submit()
//     } else {
//         document.getElementById("message").innerHTML = 'Passwords do not match.';
//     }
// }

</script>


</html>