<!doctype HTML>

{% load static %}

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'images/css/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

<body class="signup-background">

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active white-override" onclick="returnToHomepage()" style="cursor:pointer;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-override" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-override" href="">Sign In</a>
            </li>
        </ul>

    <div class="container-fluid signup-wrapper">
        <div class="signup-blank"></div>

        <div class="center-div">   
            <h1 class="signup-text">Sign In</h1>
            <form class="form-centered" method="POST">

                {% csrf_token %}
                
                <div class="form-group col-12">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>

                <div class="form-group col-12">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>

                <div class="container-fluid center-div">
                    <button type="submit" class="signup-btn btn btn-danger">Sign In</button>
                </div>
            </form>
            
            
            <p class="text-center" style="padding-top: 10px;"> Don't have an account yet?</p>
            <div class="container-fluid center-div">
                    <button class="signup-btn btn btn-primary" onclick= "goToSignUp();" >Sign Up</button>
                </div>

        </div>

        <div class="signup-blank"></div>

    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
console.log('Javascript loaded!');

function returnToHomepage() {
    var url = '/images/';
    window.location = url;
};

function goToSignUp () {
    var url = '/images/sign_up';
    window.location = url;
    console.log('why the fuck am I not working?')
};

</script>


</html>
